<html>
<head>
<title>Plant Disease Detection</title>

<style>
.link{
   padding-top: 30px;
   padding-left: 700px;
}
a:link, a:visited {
  background-color: white;
  color: #144D01;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: #9FCB90;
}
.header {
  margin-top:250px;
  margin-left:380px;
box-shadow: 10px 10px 5px grey;
  padding: 2px;
 width:800px;
  text-align: center;
  background: white;
  color: #144D01;
  font-size: 30px;
}

</style>

</head>
<body style = "background-image: url('{{url_for('static', filename='header.png')}}');">

<div class="header">
  <h1>Plant Disease Detection</h1>
  <p>Enter to unlock</p>
</div>

<div class = "link">
<a href = "http://localhost:5000/Selection" >Enter<a>
<link>

</body>
</html>